<section class="w-1/2 mx-auto bg-gray-50 p-4 rounded border shadow">
  <h1 class="text-center my-2 text-green-600">Forget Password</h1>

  @if (step == 1) {
    <form [formGroup]="verfiyEmail" (ngSubmit)="SumbitVerifyEmail()">
      <div class="mb-1">
        <ng-container>
          @let emailControl = verfiyEmail.get('email');

          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
           verfiy Email:
          </label>
          <input
            formControlName="email"
            type="email"
            id="email"
            class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-none w-full"
          />

          @if (emailControl?.errors && emailControl?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Error</span>
              <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if (emailControl?.hasError('required')) {
                    <li>Email is required</li>
                  }
                  @else {
                    <li>Enter a valid email</li>
                  }
                </ul>
              </div>
            </div>
          }
        </ng-container>
      </div>

      <button type="sumbit"   [disabled]="verfiyEmail.invalid"  class="btn-main">confirm
        <!-- @if (isLoading) {
          <span><i class="fas fa-spin fa-spinner "></i></span>
        } -->
      </button>
    </form>
  }
  @else if (step == 2) {
    <form [formGroup]="verfiyCode" (ngSubmit)="SumbitVerifyCode()">
      <div class="mb-1">
        <ng-container>
          @let codeControl = verfiyCode.get('resetCode');

          <label for="code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
           verfiy code:
          </label>
          <input
            formControlName="resetCode"
            type="text"
            id="code"
            class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-none w-full"
          />

          @if (codeControl?.errors && codeControl?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Error</span>
              <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if (codeControl?.hasError('required')) {
                    <li>code is required</li>
                  }
                  @else {
                    <li>Enter a valid code</li>
                  }
                </ul>
              </div>
            </div>
          }
        </ng-container>
      </div>

      <button type="sumbit"   [disabled]="verfiyCode.invalid"  class="btn-main">confirm
        <!-- @if (isLoading) {
          <span><i class="fas fa-spin fa-spinner "></i></span>
        } -->
      </button>
    </form>
  }
  @else if(step == 3) {
    <form [formGroup]="resetPassword" (ngSubmit)="SumbitNewPassword()">
      <div class="mb-1">
        <ng-container>
          @let emailCont = resetPassword.get('email');

          <label for="usermail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Email:
          </label>
          <input
            formControlName="email"
            type="email"
            id="useremail"
            readonly
            class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-none w-full"
          />

          @if (emailCont?.errors && emailCont?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Error</span>
              <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if (emailCont?.hasError('required')) {
                    <li>Email is required</li>
                  }
                  @else {
                    <li>Enter a valid email</li>
                  }
                </ul>
              </div>
            </div>
          }
        </ng-container>
      </div>
      <div class="mb-1">
        <ng-container>
          @let passwordControl = resetPassword.get('newPassword');

          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
           new password:
          </label>
          <input
            formControlName="newPassword"
            type="password"
            id="password"
            class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-none w-full"
          />

          @if (passwordControl?.errors && passwordControl?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Error</span>
              <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if (passwordControl?.hasError('required')) {
                    <li>password is required</li>
                  }
                  @else {
                    <li>Enter a valid password</li>
                  }
                </ul>
              </div>
            </div>
          }
        </ng-container>
      </div>

      <button type="sumbit"   [disabled]="resetPassword.invalid"  class="btn-main">confirm
        <!-- @if (isLoading) {
          <span><i class="fas fa-spin fa-spinner "></i></span>
        } -->
      </button>
    </form>
  }










</section>
